streamlit==1.32.0
pdfplumber==0.10.3
torch==2.2.0
replicate==0.22.0
numpy==1.26.4
transformers==4.38.2
scikit-learn==1.4.1.post1
spacy==3.7.4
openai==1.12.0
python-dotenv==1.0.1
en-ner-bc5cdr-md @ https://huggingface.co/allenai/scispacy_bc5cdr_md/resolve/main/en_ner_bc5cdr_md-0.5.3.tar.gz