streamlit
pdfplumber
torch
replicate
numpy
transformers
scikit-learn
spacy
openai
python-dotenv
en-ner-bc5cdr-md @ https://github.com/allenai/scispacy/releases/download/v0.5.3/en_ner_bc5cdr_md-0.5.3.tar.gz 